@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&display=swap');


body 
{
    margin: 0%;
    font-family: "Playwrite CU", cursive;
    font-size: 0.8em;
    text-align: left;
}

.flex-container 
{
    display: flex;
    flex-direction: row;
    height: 94vh;
    align-items:stretch;
    flex-wrap: wrap;
}

.flex-container div
{
    justify-content:space-evenly;
}

.right
{
    flex:3 1 0;
    height: 94vh;
}

.left
{
    flex: 1 1 0;
    background-color: beige;
    height: 90vh;
    padding: 2vh;
}

img
{
    height:100%;
    width: 100%;
    object-fit: fill;
}

h1
{
    font-style: italic; 
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}