body 
{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.flex-container 
{
    display: flex;
    flex-direction: row;
}

.flex-container div
{
    flex:1 1 0;
    margin-top: 0%;
    margin: .4%;
}

img
{
    height:130%;
    width: 100%;
    object-fit: fill;
}

p
{
    background-color:bisque;
    margin-left: 10px;
    margin-top: 0px;
    margin-right: 10px;
}