@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&display=swap');

body 
{
    font-family: "Playwrite CU", cursive;
    text-align: center;
    margin: 0%;
    font-optical-sizing: auto;
    font-size: 12px;
}

.flex-container 
{
    display: flex;
    gap: 9px;
    height:80vh;
    margin: 1vh;
    align-items:stretch;
    flex-wrap: wrap;
}

.flex-container div
{
    flex:1 1 0;
    justify-content:space-evenly;
    height: 80vh;
    flex-basis: 200px;
}

img
{
    height: 85%;
    width: 100%;
    object-fit: fill;
}

p
{
    background-color:bisque;
    margin : 0px;
    padding: 0%;
}